@font-face {
    font-family: 'roboto';
    src: url('https://luisdevlipe.github.io/Projeto-1-Rev2/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'robotoboldcondensed';
    src: url('https://luisdevlipe.github.io/Projeto-1-Rev2//fonts/Roboto-BoldCondensed.ttf');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'robotolight';
    src: url('https://luisdevlipe.github.io/Projeto-1-Rev2/fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
    }
